footer {
    height: 200px;
    padding: 35px;
    background-color: #00171f;
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h3 {
        font-family: var(--first-font);
        align-self: center;
    }
    .contact, .navigation {
        display: flex;
        flex-direction: column;
        h5 {
            margin-bottom: 30px;
        }
        a {
            margin-bottom: 10px;
            color: #fff;
        }
    }
   
}